# Cyfrowe przetwarzanie sygnałów i obrazów - Laboratorium 1 
##### Joanna Orzeł, 259064 <br>Tomasz Michalski, 254040

###### Zaimportowanie bibliotek potrzebnych podczas realizacji ćwiczenia

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
from scipy import signal

### Ćwiczenie 1. 
Napisz skrypt w Pythonie/Matlabie umożliwiający wczytywanie i wizualizację badanych sygnałów. Program powinien umożliwiać obserwowanie wycinka sygnału dla zadanego przedziału czasowego, skalowanie osi wykresów i ich opis oraz zapis dowolnego wycinka sygnału do pliku o podanej nazwie

#### ekg1.txt
12 kolumn odpowiadających odprowadzeniom
fs = 1000 Hz

Początkowo dane zostały odczytane z pliku tekstowego "ekg1.txt" za pomocą komendy ```pd.read_csv``` i zapisane do zmiennej ```ekg1```

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

ekg1 = pd.read_csv('ekg1.txt', 
                  names = ['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10', 'k11', 'k12'], 
                  sep= ' ') 
fs_ekg1 = 1000 # częstotliwość sygnału [Hz]
t_ekg1 = (ekg1.shape[0] - 1) / fs_ekg1 # czas trwania sygnału, t = f/T [s] 
ekg1['t'] = ekg1.index/fs_ekg1
ekg1 = ekg1.set_index('t')
ekg1.head()

        k1   k2   k3   k4  k5   k6   k7   k8   k9  k10  k11  k12
t
0.000  106  335  228 -227 -59  291 -392  -45  443  372  908  395
0.001  106  335  228 -227 -59  291 -392  -45  443  372  908  395
0.002  106  325  219 -219 -60  284  492  837  239  372  908  405
0.003   86  306  219 -214 -55  274  487  832  240  404  179  -63
0.004   96  320  224 -195 -65  264  492  842  244  404  174  -62